Package: lairart
Version: 9.1-1
Architecture: amd64
Maintainer: lair repo key <problemsolver@openmailbox.org>
Installed-Size: 548
Depends: libpng-tools
Provides: lairart
Section: games
Priority: extra
Homepage: https://cmotc.github.io/lairart/
Description: LAIR! Roguelike Game(Artistic Assets), version 0.9
 LAIR! Roguelike Game(Artistic Assets), version 0.9
 This package contains artistic assets for LAIR!.
 LAIR is a Procedurally Generated Mutliplayer Rogue-Like Game.
 It uses a library of content and a set of Lua scripts to
 generate a random map according to a more-or-less detailed and
 flexible environment to play in.
